# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environments

venv/
backend/venv/
.env

# Database (IMPORTANT)

*.db
expenses.db
backend/voicekhata.db

# Logs

*.log

# Node.js (Frontend)

node_modules/
frontend/node_modules/
dist/
frontend/dist/

# OS files

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/
